<ion-toolbar no-border-top class="ToolBarClass1">


  <ion-buttons left>
    <button navPop style="background-color: black">
      <ion-icon style="color: white; font-size: 30px;" name="ios-arrow-back-outline"></ion-icon>
    </button>
  </ion-buttons>

  <div class="ToolBarTitle">
    <ion-title>
      <div (click)="LogOut()">
        <img src="images/logo1.png" style="width: 130px; margin-top: 4px;">
      </div>
    </ion-title>
  </div>

  <ion-buttons right>
    <button  style="background-color: black" (click)="addCategory()">
      <ion-icon style="color: white; font-size: 40px; margin-right:20px;" name="ios-add-circle-outline"></ion-icon>
      <p style="color: white; font-size: 10px; margin-top: 3px;">הוסף קטגוריה</p>
    </button>
  </ion-buttons>
</ion-toolbar>


<ion-content padding style="margin-top: 70px;">
  <div style="padding-bottom: 200px">
    <div *ngFor="let item of CarsTypesArray let i = index" style="" >
      <div class="ListRow" >
        <div class="ListCenter"  >
          <p class="bName">{{item.name}}</p>
        </div>

        <div class="ListLeft" (click)="delCategory(i)">
          <div >
            <img  src="images/close.png" style="width:20px;" />
          </div>
        </div>
      </div>

      <div>
        <img  src="images/line.png" style="width:100%; margin-top:-3px;" />
      </div>
    </div>
  </div>

</ion-content>
