<ion-header>
    <header></header>
</ion-header>

<ion-content class="Content" style="margin-top: 0px">
    <div class="singleName">
        {{Company.name}}
    </div>
   <!-- <ion-slides *ngIf="Company.logo != null" style="height:auto">
        <ion-slide>
            <img src="http://www.tapper.co.il/salecar/companies/{{CompanyId}}/1.jpg"/>
        </ion-slide>
        <ion-slide>
            <img src="http://www.tapper.co.il/salecar/companies/{{CompanyId}}/2.jpg"/>
        </ion-slide>
        <ion-slide>
            <img src="http://www.tapper.co.il/salecar/companies/{{CompanyId}}/3.jpg"/>
        </ion-slide>
    </ion-slides>-->
    <img *ngIf="Company.logo != null" src="http://www.tapper.co.il/salecar/companies/{{CompanyId}}/1.jpg"/>
    <img *ngIf="Company.logo == null" src="images/main_image.png"/>

    <div class="SocialIcons">
        <div class="SocialIconsDiv">
            <img src="images/main_icons/inst.png"/>
        </div>
        <div class="SocialIconsDiv" (click)="Face()">
            <img src="images/main_icons/face.png" class="w100"/>
        </div>
        <div class="SocialIconsDiv" (click)="waze()">
            <img src="images/main_icons/waze.png" class="w100"/>
        </div>
    </div>

    <div class="SocialIcons">
        <div class="MainIconsDiv" (click)="site()">
            <img src="images/main_icons/ic2.png"/>
        </div>
        <div class="MainIconsDiv" (click)="tel()">
            <img src="images/main_icons/ic4.png" class="w100"/>
        </div>
        <div class="MainIconsDiv" (click)="mail()">
            <img src="images/main_icons/ic3.png" class="w100"/>
        </div>
        <div class="MainIconsDiv" (click)="share()">
            <img src="images/main_icons/ic1.png" class="w100"/>
        </div>
    </div>

    <div class="Info">
        <div class="Logo" align="center">
            <div class="w80">
                <img *ngIf="Company.logo != null" src="{{host}}/{{Company.logo}}" style="width:100%; margin-top:-3px;"  />
                <img *ngIf="Company.logo == null" src="images/logos.png"/>
            </div>
        </div>
        <div class="Details">
            <p>{{Company.name}}</p>
            <h3>{{Company.address}}</h3>
            <h4>טלפון : {{Company.phone}}</h4>
        </div>
    </div>

    <div class="c3Title">
        על העסק
    </div>
    <div style="width:100%" align="center">
        <div class="c3Line">
        </div>
    </div>
    <div align="center">
        <div class="c3Info">
            {{Company.description}}
        </div>
    </div>


    <!-- Cars -->
    <div>
        <div *ngFor="let car of Cars let i = index"  >
            <div class="ListRow" (click)="goToCarPage(i)">
                <div class="ListRight"  >
                    <img *ngIf="car.images[0] != null" src="{{host}}{{car.images[0].url}}" style="width:100%; margin-top:-3px;"  />
                    <img *ngIf="car.images[0] == null" src="{{host}}/{{Company.logo}}" style="width:100%; margin-top:-3px;"  />
                </div>
                <div class="ListCenter"  >
                    <p class="bName">{{car.carName}}</p>
                    <h3> {{car.carModelName}}</h3>
                    <h4 style="direction: rtl">שנה : {{car.year}} </h4>
                </div>

                <div class="ListLeft">
                    <div>
                        <img  src="images/arrow.png" style="width:20px;" />
                    </div>
                </div>
            </div>

            <div>
                <img  src="images/line.png" style="width:100%; margin-top:-3px;" />
            </div>
        </div>
    </div>
</ion-content>
