._26xy{bottom:0;color:#fff;right:-112px;padding:4px;position:absolute;text-shadow:0 0 2px rgba(0, 0, 0, .3)}._26xy ._26yl{font-size:16px;font-weight:600;line-height:20px;overflow:hidden;padding-bottom:4px;text-overflow:ellipsis;white-space:nowrap;width:300px}._26xy ._26yl a{color:#fff}._26xy ._26ym{font-size:12px;line-height:16px;width:350px}._26xy ._26ym a{color:#fff}._5zgi{padding:4px 0 0 0;width:350px;word-wrap:break-word}._vwx{padding:4px 0 0 0}._vw-{margin:10px 1px 0 4px;padding:0 0 0 0}
.sp_Smudvv1KwmU{background-image:url(/rsrc.php/v3/yE/r/_37mTPDmwuW.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_Smudvv1KwmU.sx_064b93{background-position:0 -10px}.sp_Smudvv1KwmU.sx_370f10{background-position:0 -23px}.sp_Smudvv1KwmU.sx_7620c7{background-position:0 -36px}.sp_Smudvv1KwmU.sx_32e5a6{width:16px;height:9px;background-position:0 0}.sp_Smudvv1KwmU.sx_4a3b8a{width:11px;height:11px;background-position:0 -49px}

#bootloader_2x7rX{height:42px;}.bootloader_2x7rX{display:block!important;}