._287i{display:inline-block;font-size:12px;line-height:22px;vertical-align:middle}
._20nn{right:-1px;top:0}._1g8y{right:0;top:0}._20no{right:-3px;top:0}
.sp_X0uAk53bzmn{background-image:url(/rsrc.php/v3/yX/r/m5fOpTFIgcM.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_X0uAk53bzmn.sx_a8d4bd{background-position:0 0}.sp_X0uAk53bzmn.sx_5405ba{background-position:0 -17px}
.sp_gTlIMMtbro4{background-image:url(/rsrc.php/v3/yG/r/2EVuIJokMr8.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_gTlIMMtbro4.sx_035332{width:12px;background-position:0 -15px}.sp_gTlIMMtbro4.sx_de50d2{background-position:0 0}

#bootloader_Pgon_{height:42px;}.bootloader_Pgon_{display:block!important;}