page-home
{
  .mainSearchBoxDiv
  {
    width:100%;
  }
  .mainSearchBox
  {
    overflow:hidden;
    width:95%;
  }
  .select
  {
    direction: rtl;
    padding: 0px !important;
  }

  .select-icon
  {
    margin-top: 17px;
  }

  .Inputs
  {
    text-align: right;
    direction: rtl;
    margin-top: -20px;

  }

  .labelHome
  {
    font-size: 18px !important;
  }

  .alert-radio-label{
    text-align: right;
    padding: 13px 35px;
  }


  .mainSearchBoxRight
  {
    width:85%;
    position: relative;
    float:right;
  }
  .mainSearchBoxDiv
  {
    background-color: #f2f2f2;
  }
  .HomeSelect
  {
    direction: rtl;
    background-color: #ffffff;
    width: 100% !important;
    font-size: 18px;
    margin-top: -40px;
  }

  .select-text
  {
    width: 100% !important;
    height: 50px;
  }

  .mainSearchBoxRight div
  {
    width:100%;
    margin-top:20px;
  }

  .mainSearchBoxRight div input
  {
    text-align:right;
    padding-right:10px;
    padding-top:-23px;
  }

  .mainSearchBoxLeft
  {
    width:13.5%;
    float:right;
  }

  .mainSearchBoxLeft div
  {
    width:100%;
    margin-top:20px;
  }

  .carImage
  {
    border: 2px solid #f3f3f3;
  }
  .Title
  {
    font-size:14px;
    margin-top: 0px;
    font-weight: bold;
    color: #666666;
  }

  .homeTitle
  {
    font-size:12px;
    font-weight: 300;
  }

  .homeDescription
  {
    font-size:10px;
    font-weight: 300;
  }

  .customScroll {
    height: 28vh;
    white-space: nowrap;
    display: flex;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .customMenuScroll
  {
    height: 5vh;
    white-space: nowrap;
    display: flex;
  }

  .video-block {
    display: inline-block;
    height: 31vh;
    width: 30vw;
    padding: 10px;

  }

  .video-block1 {
    display: inline-block;
    height: 31vh;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .Title
  {
    white-space: normal;
    text-align: left;
  }
}

.icon
{
  width: 19%;
  margin-top:0px;
}

.homeCatTitle
{
  padding: 10px;
  margin-top: 10px;
  text-align: right;
  font-weight: 400;
  font-size: 16px !important;
  color: #666;
}

.homeProducts
{
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
}

.homeProduct
{
  font-size: 12px;
  margin-left: 2%;
}

.homeTitle {
  font-size: 11px;
  margin-top: -13px;
  text-align: left;
}

.homeDescription
{
  font-size: 8px;
  margin-top: -10px;
  text-align: left;
}

.homeSelect
{
  overflow: hidden;
  width: 100%;
}
.Label
{

}

