._4uum{color:#90949c}._5-5-{margin-top:22px;width:210px}._2f2w{color:#1d2129;line-height:14px}._253g{font-size:11px;line-height:14px}._2f2u._2f2u._2f2u{padding-right:4px}._2f2v._2f2v._2f2v{padding-right:4px}._253f{padding-bottom:6px;padding-left:6px}._2-8-{width:100%}._2-8t{border:1px solid blue;border-color:#3776ff;border-radius:20px;color:#3776ff;display:inline-block;margin-top:10px;padding:6px 10px}._2-8t:hover{background-color:#3776ff;color:#fff;text-decoration:none}
.sp_3EXRbKC1PTq{background-image:url(/rsrc.php/v3/yf/r/a1yVHYFCLYr.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_3EXRbKC1PTq.sx_e4ff4b{background-position:0 0}.sp_3EXRbKC1PTq.sx_c0566d{width:12px;height:12px;background-position:0 -17px}

#bootloader_DDlEK{height:42px;}.bootloader_DDlEK{display:block!important;}