


<!-- Generated template for the HeaderComponent component -->

<ion-toolbar no-border-top class="ToolBarClass1">


  <ion-buttons left>
    <button navPop style="background-color: black">
      <ion-icon style="color: white; font-size: 30px;" name="ios-arrow-back-outline"></ion-icon>
    </button>
  </ion-buttons>

  <div class="ToolBarTitle">
    <ion-title>
      <div (click)="goHome()">
        <img src="images/logo1.png" style="width: 130px; margin-top: 4px;">
      </div>
    </ion-title>
  </div>

  <ion-buttons right>

  </ion-buttons>


</ion-toolbar>


