<!-- Generated template for the FooterComponent component -->

  <ion-list>
    <ion-icon class="icon"> <img src="images/main_icon_1.png" (click)="WhatsApp()" style="width: 100%;"/></ion-icon>
    <ion-icon class="icon"> <img src="images/main_icon_2.png" (click)="Facebook()" style="width: 100%;"/></ion-icon>
    <ion-icon class="icon"> <img src="images/main_icon_3.png" (click)="Call()" style="width: 100%;"/></ion-icon>
    <ion-icon class="icon"> <img src="images/main_icon_4.png" (click)="Mail()" style="width: 100%;"/></ion-icon>
    <ion-icon class="icon"> <img src="images/main_icon_5.png" (click)="Waze()"style="width: 100%;"/></ion-icon>
  </ion-list>

