<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header></header>
</ion-header>



<ion-content padding class="Content" style="margin-top:0px">

    <div *ngFor="let item of CompaniesArray let i = index" >
      <div class="ListRow" (click)="goToSinglePage(i)">
          <div class="ListRight"  >
              <img *ngIf="item.logo != null"  src="{{host}}/{{item.logo}}" style="width:100%; margin-top:-3px;"  />
              <img *ngIf="item.logo == null"  src="images/logos.png" style="width:100%; margin-top:-3px;"  />
          </div>
          <div class="ListCenter"  >
            <p class="bName">{{item.name}}</p>
            <h3>{{item.phone}}</h3>
            <h4>{{item.address}}</h4>
          </div>

          <div class="ListLeft">
            <div>
              <img  src="images/arrow.png" style="width:20px;" />
            </div>
          </div>
        </div>

        <div>
          <img  src="images/line.png" style="width:100%; margin-top:-3px;" />
        </div>
    </div>
</ion-content>
<ion-footer class="FooterClass">
  <footer></footer>
</ion-footer>