<ion-toolbar no-border-top class="ToolBarClass1">


  <ion-buttons left>
    <button navPop style="background-color: black">
      <ion-icon style="color: white; font-size: 30px;" name="ios-arrow-back-outline"></ion-icon>
    </button>
  </ion-buttons>

  <div class="ToolBarTitle">
    <ion-title>
      <div>
        <img src="images/logo1.png" style="width: 130px; margin-top: 4px;">
      </div>
    </ion-title>
  </div>

</ion-toolbar>



<ion-content style="margin-top: 75px" >
  <ion-item no-lines class="RegTitle">
    <label>ערוך חברה</label>
  </ion-item>

  <ion-list class="Inputs">
    <ion-item>
      <ion-label fixed>שם החברה</ion-label>
      <ion-input type="text" [(ngModel)]="Company.name" name="name" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>כתובת</ion-label>
      <ion-input type="text" [(ngModel)]="Company.address" name="address" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>טלפון</ion-label>
      <ion-input type="tel" [(ngModel)]="Company.phone" name="phone" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>אימייל</ion-label>
      <ion-input type="mail" [(ngModel)]="Company.email" name="email" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>subdomain</ion-label>
      <ion-input type="text" [(ngModel)]="Company.subdomain" name="subdomain" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>סיסמה</ion-label>
      <ion-input type="tel" [(ngModel)]="Company.password" name="password" ></ion-input>
    </ion-item>


    <ion-item>
      <ion-label fixed>פרטים נוספים</ion-label>
      <ion-textarea type="text" [(ngModel)]="Company.description" name="description" ></ion-textarea>
    </ion-item>


    <div style="width: 100%; margin-top: 20px;" align="center" (click)="UpdateCompany()">
      <div style="width: 90%">
        <button ion-button color="primary" style="width: 100%">שלח פרטים</button>
      </div>
    </div>

  </ion-list>
</ion-content>

